set editing-mode vi                                            

# vi settings                                         
$if mode=vi                
    # normal mode                           
    set keymap vi-command                                 

    # insert mode             
    set keymap vi-insert                          
    "jk": vi-movement-mode # remap escape   
    "kj": vi-movement-mode # remap escape   
    "JK": vi-movement-mode # remap escape   
    "KJ": vi-movement-mode # remap escape   
$endif 
